body, html {
    height: 100%;
    background-color: black;
}

main { 
    display: flex;  
    flex-direction: column;
    background-size: cover;
    margin: 0px; 
    background-position: center;
    background-repeat: no-repeat;
}
.game-container{
    display: flex;  
    /* align-self: center; */
    /* height: 100%; */
    background: url("../img/board-mat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-Container{
    display: flex; 
    flex-direction: row;
}
.
footer { 
    display: flex; 
    z-index: 5;  
    bottom: 0; 
    width: 100%;
    height: 2.5rem; 
    background-color: black;
}
header {
    display: flex; 
    height: 3em; 
}
audio { 
    opacity: 50%; 
    z-index: 2;
}
#myAudio { 
    display: flex; 
    /* top: 90em;
    left: 48em;  */
    color: grey;
}
.audio-controls {
   display: none;
}


.infoBtn { 
    display: flex; 
    flex-direction: row;
    top: 1em;
    left: 73em;
    opacity: 50%;  
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, .5);
    transition: all ease 1s;
}
  
.closeoverlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: block;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}
  
.closebutton {
    color: red;
    text-decoration: none;
    font-size: 30px;
    margin: 0 auto;
    display: table;
}
  
.modal:target {
    opacity: 1;
    pointer-events: auto;
    
}
  
.modal:target>.closeoverlay {
    display: block;
}
  
.modal>div {
    width: 1000px;
    height: 500px;
    max-width: 75vw;
    max-height: 75vh;
    text-align: center;
    position: relative;
    background: #131418;
    z-index: 3
}
  
.wrap, 
.modal {
    display: flex;
    align-items: center;
    justify-content: center
}
  
.modal-content {
   overflow-y:auto
}
/*demo fluff */
p {
color: green;
font-size: 20px;
display: block;
}

button {
margin: 2em 0 0 0;
cursor: pointer;
}

.closebutton:hover {
color: white;
cursor: pointer;
}
  
.clutter, .modal-content p {
margin: 2em auto;
padding: 40px;
max-width: 100%;
text-align: justify;
}

img { 
    display: flex; 
    background-size: cover; 
    flex-grow: inherit;
    height: 100%;
}

#playerScore { 
    display: flex;
    flex-direction: column;
    color: mediumturquoise;
    -webkit-text-stroke: 1px white; 
    text-shadow: 3px 3px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
    font-size: 150px; 
    left: 1550px; 
    bottom: 175px; 
    z-index: 1;
}

#computerScore { 
    opacity: .7;
    color: palevioletred;
    -webkit-text-stroke: 1px white; 
    text-shadow: 3px 3px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
    font-size: 150px; 
    z-index: 1; 
}
.boardGrid-Container { 
    width: 54%;
    display: flex;
    justify-content: center;
}
/* BOARD ELEMENTS  */
#boardGrid { 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%; 
    padding:25px; 
    width: 800px;  
}
.boardTiles { 
    display: flex;
    background-color: yellow;
    opacity: .3; 
    align-items: center;
    flex: 0 0 32%; 
    margin-bottom: 5px; 
    height: 100%;
    justify-content: center;
    cursor: pointer; 
}

.row {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerDrawnCards { 
    cursor: pointer;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computerDrawnCards { 
    cursor: pointer;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* PLAYER AND COMPUTER ELEMENTS  */
/* #DrawnCards { 
    display: absolute; 
    position: relative;
    background-color: aquamarine;
    size: 20%; 
    bottom: 700px;
    right: 500px;  
    cursor: pointer; 
} */

.playerCards {
    background-size: 100%;
    display: block; 
    height: 200px;
    width: 190px;
    background-color: mediumturquoise;
    font-family: fantasy; 
    font-weight: 2;
    color: whitesmoke;
    cursor: pointer; 
}
#playerChosenCard { 
    display: flex; 
    flex-direction: column;
    background: fill;
    opacity: .75; 
    height: 200px;
    width: 180px;
    cursor: pointer; 
}

#playerCardOne {
    position: relative; 
    top: 5em; 
    left: 10px; 
    z-index: 1; 
}

#playerCardTwo { 
    position: relative; 
    top: 0em;
    left: 10px;
    z-index: 2; 
}
#playerCardThree { 
    position: relative; 
    top: -5em; 
    left: 10px; 
    z-index: 3; 
}
#playerCardFour { 
    display: flex; 
    position: relative;
    top: -10em; 
    left: 10px; 
    z-index: 4; 
}
#playerCardFive { 
    position: relative;
    top: -15em;  
    left: 10px; 
    z-index: 5; 
}
.compCards {
    background-size: 100%;
    display: block; 
    height:200px;
    width: 190px;
    background-color: palevioletred;
    font-family: fantasy; 
    font-weight: 2;
    color: whitesmoke;
    cursor: pointer; 
}
#compCardOne {
    position: relative; 
    top: 5em; 
    left: 10px; 
    z-index: 1; 
}
#compCardTwo { 
    position: relative; 
    top: 0em;
    left: 10px;
    z-index: 2; 
}
#compCardThree { 
    position: relative; 
    top: -5em; 
    left: 10px; 
    z-index: 3; 
}
#compCardFour { 
    display: flex; 
    position: relative;
    top: -10em; 
    left: 10px; 
    z-index: 4; 
}
#compCardFive { 
    position: relative;
    top: -15em;  
    left: 10px; 
    z-index: 5; 
}

.playerBoardCard {
    background-size: 100%;
    display: block; 
    height: 200px;
    width: 190px;
    background-color: mediumturquoise;
    font-family: fantasy; 
    font-weight: 2;
    color: whitesmoke;
}

.compBoardCard {
    background-size: 100%;
    display: block; 
    height:200px;
    width: 190px;
    background-color: palevioletred;
    font-family: fantasy; 
    font-weight: 2;
    color: whitesmoke;
}

#compChosenCard { 
    background: fill; 
    opacity: .75; 
    height: 250px;
    width: 250px; 
}


/* CARD 1 NUMBERS */
.playerCardOneTop{
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.playerCardOneBottom{
    position: relative; 
    left: 30px; 
}
.playerCardOneRight {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}    
.playerCardOneLeft {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}

/* CARD 2 NUMBERS  */
.playerTopNumCard2 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard2 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard2 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard2 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* CARD 3 NUMBERS */
.playerTopNumCard3 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard3 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard3 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard3 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}

/* CARD 4 NUMBERS  */
.playerTopNumCard4 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard4 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard4 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard4 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}

/* CARD 5 Numbers */
.playerTopNumCard5 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard5 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard5 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard5 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}



/* COMPUTER CARD 1 NUMBERS */
.compTopNum {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNum {
    position: relative; 
    left: 30px; 
}
.compLeftNum {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNum {
   position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* computer Card 2 Numbers */
.compTopNumCard2 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard2 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard2 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard2 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* computer card 3 numbers */
.compTopNumCard3 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard3 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard3 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard3 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* computer card 4 numbers */
.compTopNumCard4 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard4 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard4 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard4 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}

/* computer card 5 numbers */
.compTopNumCard5 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard5 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard5 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard5 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
h1 {
    -webkit-text-stroke: 1px white; 
    color: black;
    text-shadow: 3px 3px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}    
    


.boardTiles > #playerChosenCard {
    position: inherit;
}

.boardTiles > #compChosenCard { 
    position: inherit; 
}