body { 
    display: absolute; 
    position: relative; 
    background-color: black; 
    width: 100%;
    height: 100%; 
    
}

/* #gameContainer { 
    display: relative; 
    position: flex;
    width: 100%; 
    height: 100%; 
} */
img { 
    display: flex; 
    position: relative; 
    background-size: stretch; 
    flex-grow: inherit;
    height: 1100px; 
    width:1300px; 
}
#playerScore { 
    display: absolute; 
    position: relative;
    color: mediumturquoise;
    -webkit-text-stroke: 1px white; 
    text-shadow: 3px 3px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
    font-size: 150px; 
    left: 1100px; 
    bottom: 150px; 
    z-index: 1;
}

#computerScore { 
    display: absolute; 
    position: relative;
    color: palevioletred;
    -webkit-text-stroke: 1px white; 
    text-shadow: 3px 3px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
    font-size: 150px; 
    left: 100px; 
    bottom: 320px; 
    z-index: 1; 
}

/* BOARD ELEMENTS  */
#boardGrid { 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 950px; 
    padding:25px; 
    width: 700px; 
    bottom: 1400px; 
    left: 275px;
}
.boardTiles { 
    flex: 0 0 32%; 
    margin-bottom: 5px; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerDrawnCards { 
    position: absolute;
    width: 10%; 
    height: 10%; 
    bottom: 2600px;
    left: 1050px; 
}

#computerDrawnCards { 
    position: absolute; 
    width: 10%; 
    height: 10%; 
    bottom: 2600px;
    left: 50px;
}

/* PLAYER AND COMPUTER ELEMENTS  */
#DrawnCards { 
    display: absolute; 
    position: relative;
    size: 10%; 
    bottom: 700px;
    right: 500px; 
  
}

.playerCards {
    background-size: 100%;
    display: block; 
    height:200px;
    width: 190px;
    background-color: mediumturquoise;
    font-family: fantasy; 
    font-weight: 2;
    color: whitesmoke;
}

#playerChosenCard { 
    background: fill;
    position: relative; 
    height: 250px;
    width: 250px;
    left: 1500px; 
    bottom: 1200px;
}

.compCards {
    background-size: 100%;
    display: block; 
    height:200px;
    width: 190px;
    background-color: palevioletred;
    font-family: fantasy; 
    font-weight: 2;
    color: whitesmoke;
} 

#compChosenCard { 
    background: fill; 
    position: relative; 
    height: 250px;
    width: 250px; 
    left: 800px; 
    bottom: 1100px; 
}


#cardImages { 
    visibility: hidden; 
}
/* CARD 1 NUMBERS */
.playerCardOneTop{
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.playerCardOneBottom{
    position: relative; 
    left: 30px; 
}
.playerCardOneRight {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}    
.playerCardOneLeft {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}

/* CARD 2 NUMBERS  */
.playerTopNumCard2 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard2 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard2 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard2 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* CARD 3 NUMBERS */
.playerTopNumCard3 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard3 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard3 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard3 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}

/* CARD 4 NUMBERS  */
.playerTopNumCard4 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard4 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard4 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard4 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}

/* CARD 5 Numbers */
.playerTopNumCard5 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px;
}
.playerBottomNumCard5 {
    position: relative; 
    left: 30px; 
}

.playerLeftNumCard5 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.playerRightNumCard5 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}



/* COMPUTER CARD 1 NUMBERS */
.compTopNum {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNum {
    position: relative; 
    left: 30px; 
}
.compLeftNum {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNum {
    position: relative; 
    bottom: 220px; 
    left: 45px;
}
/* computer Card 2 Numbers */
.compTopNumCard2 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard2 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard2 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard2 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* computer card 3 numbers */
.compTopNumCard3 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard3 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard3 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard3 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
/* computer card 4 numbers */
.compTopNumCard4 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard4 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard4 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard4 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}

/* computer card 5 numbers */
.compTopNumCard5 {
    position: relative; 
    margin: auto; 
    top: 10px;
    left: 30px; 
}
.compBottomNumCard5 {
    position: relative; 
    left: 30px; 
}
.compLeftNumCard5 {
    position: relative;
    bottom: 98px; 
    left: 15px; 
}
.compRightNumCard5 {
    position: relative; 
    bottom: 170px; 
    left: 45px;
}
h1 {
    -webkit-text-stroke: 1px white; 
    color: black;
    text-shadow: 3px 3px 0 #000, 
                 -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}    
    


.boardTiles > #playerChosenCard {
    position: inherit;
}

.boardTiles > #compChosenCard { 
    position: inherit; 
}